{% extends 'base.html' %}

{% block content %}
<div class="file-upload">
    <div class="model-selection">
        <label for="model">Choose a Model:</label>
        <select id="model">
            {% for model in models %}
                <option value="{{ model }}">{{ model|capitalize }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
    
    <div class="image-upload-wrap">
        <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name="file" />
        <div class="drag-text">
            <h3>Drag and drop a file or select add Image</h3>
        </div>
    </div>
    
    <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
            <button type="button" class="predict-image">Predict</button>
            <button type="button" onclick="removeUpload()" class="remove-image">Remove</button>
        </div>
    </div>
    <!-- Prediction Display -->
    <div class="prediction-display"></div>
    
    <script src="{{ url_for('static', filename='js/predict.js') }}"></script>
</div>
{% endblock %}
